<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

     <!-- Site Metas -->
    <title>flood prediction using ML</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="static/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="static/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/custom.css">
	<script src="static/js/modernizr.js"></script> <!-- Modernizr -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" class="politics_version">

    <!-- LOADER -->
    <div id="preloader">
		<div id="main-ld">
			<div class="loader">
				<span class="loader-inner">CleanPhotography</span>
			</div>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->


	<div class="fat-nav">
        <div class="fat-nav__wrapper">
            <ul>
                <center>
                <li><a class="js-scroll-trigger" href="/">Home</a></li>
                <li><a class="js-scroll-trigger" href="/upload">Upload Files</a></li>
                <li><a class="js-scroll-trigger" href="/model">Model</a></li>
                <li><a class="js-scroll-trigger" href="/prediction">prediction</a></li>
<!--				<li><a class="js-scroll-trigger" href="#reviews">Reviews</a></li>-->
                    </center>

            </ul>
        </div>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<img class="img-fluid" src="static/images/logo.png" alt="" />
		</a>
      </div>
    </nav>

	<section id="home" class="main-banner parallaxie" style="background: url('static/uploads/fld3.png')">
		<div class="heading">
<!--			<h1>Welcome to CleanPhotography</h1>-->
<!--&lt;!&ndash;			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>&ndash;&gt;-->
<!--			<h3 class="cd-headline clip is-full-width">-->
<!--				<span>Lorem ipsum dolor sit amet </span>-->
<!--				<span class="cd-words-wrapper">-->
<!--					<b class="is-visible">Fashion photography</b>-->
<!--					<b>Candid photography</b>-->
<!--					<b>Landscape photography</b>-->
<!--					<b>Documentary photography</b>-->
<!--					<b>Architectural photography</b>-->


            						<form action = {{url_for('upload')}} method="post" enctype="multipart/form-data">
								<center>
									<table>
										<td>
											<label style="width: 200px;">Select CSV Files</label>
												<input type="file" name="file"placeholder="SELECT CSV FILES" style="color:white" required/><br><br>
                                            <center>
                                                <input type="submit" value="Upload"class="btn btn-info">
                                                </center>
										</td>
									</table>
								</center>
						</form>

		</div>
	</section>
    <!-- ALL JS FILES -->
    <script src="static/js/all.js"></script>
	<!-- Camera Slider -->
	<script src="static/js/jquery.mobile.customized.min.js"></script>
	<script src="static/js/jquery.easing.1.3.js"></script>
	<script src="static/js/parallaxie.js"></script>
	<script src="static/js/headline.js"></script>
	<script src="static/js/jquery.appear.min.js"></script>
	<script src="static/js/skill.bars.jquery.js"></script>
	<script src="static/js/responsiveslides.min.js"></script>
	<!-- Contact form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>
    <!-- ALL PLUGINS -->
	<script src="static/js/jquery.fatNav.min.js"></script>
	<script src="static/js/main.js"></script>
    <script src="static/js/custom.js"></script>

</body>
</html>